settings set prompt (lmarques)
settings set target.x86-disassembly-flavor intel
script print "\033[1;36m███████╗███╗   ███╗ █████╗ ███╗   ██╗██████╗ ██████╗ ███████╗████████╗\033[1;m"
script print "\033[1;36m██╔════╝████╗ ████║██╔══██╗████╗  ██║██╔══██╗██╔══██╗██╔════╝╚══██╔══╝\033[1;m"
script print "\033[1;36m█████╗  ██╔████╔██║███████║██╔██╗ ██║██║  ██║██████╔╝█████╗     ██║\033[1;m"
script print "\033[1;36m██╔══╝  ██║╚██╔╝██║██╔══██║██║╚██╗██║██║  ██║██╔══██╗██╔══╝     ██║\033[1;m"
script print "\033[1;36m███████╗██║ ╚═╝ ██║██║  ██║██║ ╚████║██████╔╝██║  ██║███████╗   ██║\033[1;m"
script print "\033[1;36m╚══════╝╚═╝     ╚═╝╚═╝  ╚═╝╚═╝  ╚═══╝╚═════╝ ╚═╝  ╚═╝╚══════╝   ╚═╝\033[1;m"
script print "\033[1;37m\033[1;m"
